<div class="row">
        <div class=" col-md-12 center-table">
          <table class="table table-striped table-bordered table-condensed table-hover" width="647">
            <thead>
            <tr class="item-header" style="text-align: center;"> 
               <td> Business </td>
               <td> Trade </td>
               <td>Address</td>
            </tr>
            </thead>
          </table>
        </div>
      </div>

