<h2>Hello! We are <%= @business.name %></h2>
<p><%= @business.trade %></p>

<div class="row>">
  <div class="col-md-2"></div>
  
  <div class="col-md-6" style="padding-top: 100px;">
  <%= month_calendar do |date| %>
    <%= date %>
  <% end %>
  </div>
</div>






  
  





