<h2>Hello! We are <%= @business.name %></h2>
<p><%= @business.trade %></p>

<div class="row>">
  <!-- <div class="col-md-2"></div> -->
  
  <div class="col-md-8 col-md-offset-2" style="padding-top: 100px;">
  <%= month_calendar do |date| %>
    <% date.strftime('%d') %>
  <% end %>
  </div>
</div>






  
  





