<div class="background_image">
        
    </div>
<br>
<br>
<br>
<br>
<div class="text-center">
  <p>The quick, easy, online solution for small business appointments</p>
  <p><%= link_to "Get Started", new_user_registration_path, class: 'btn btn-primary' %></p>
</div>
<br>
<br>
<br>
<br>
<div class="text-center">
<div class="row">
  <div class="col-md-4">
    <h2>Simple and Easy</h2>
    <p>Clients secure their appointments right from their computers</p>
  </div>
  <div class="col-md-4">
    <h2>24/7 Availability</h2>
    <p>Secure an appointment anytime without phone calls or complicated software</p>
  </div>
  <div class="col-md-4">
    <h2>Try It For Free</h2>
    <p>Free 30 day trial for small businesses</p>
  </div>
</div>
</div>
