<div class="background_image">
<div class="text-center" style="position:relative;top:45%;transform:rotate(180deg);">
  <h2 style="text-shadow: black 0.1em 0.1em 0.2em;">The quick, easy, online solution for small business appointments</h2>
  <p><%= link_to "Get Started", new_user_registration_path, class: 'btn btn-primary' %></p>
</div>        
</div>
<br>
<br>
<br>
<br>

<br>
<br>
<br>
<br>
<div class="text-center" style="padding-bottom: 100px;">
<div class="row">
  <div class="col-md-4">
    <h2>Simple and Easy</h2>
    <p>Clients secure their appointments right from their computers</p>
  </div>
  <div class="col-md-4">
    <h2>24/7 Availability</h2>
    <p>Secure an appointment anytime without phone calls or complicated software</p>
  </div>
  <div class="col-md-4">
    <h2>Try It For Free</h2>
    <p>Free 30 day trial for small businesses</p>
  </div>
</div>
</div>
