<div class="col-md-8">
<h3>Timly Premium Plan</h3><br>
<h5> With Timly's premium plan, members can create their own businesses and calendars </h5><br><br>
<p class="text-primary"> Premium Plan Price only $10.00 </p><br>


<%= form_tag charges_path do %>
   <script class='stripe-button' src="https://checkout.stripe.com/checkout.js" data-key="<%= @stripe_btn_data[:key] %>" data-amount=<%= @stripe_btn_data[:amount] %> data-description="<%= @stripe_btn_data[:description] %>" ></script>
 <% end %>

</div>